*{
	margin:0;
	padding:0;
	text-decoration: none;
}
html{
	font-family: Product Sans;
}
body{
	/*opacity: 0;
	overflow: hidden;*/
	margin: 0px;
    padding: 0px;
	background-color: #f1f3f4;
	background-color: #eaeaea;
	transition: 0.5s;
}


.overlay{
	opacity: 0;
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.7);
    transition: 0.5s;
}

.left_menu{
	position: fixed;
    left: -260px;
    top: 0;
    bottom: 0;
    width: 250px;
    background: #fff;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    z-index: 105;
    transition: 0.5s;
}
.left_menu .head{
	background: #2195f2;
    width: 100%;
    height: 50px;
}
.left_menu .head .back{
	cursor: pointer;
	user-select: none;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #ffffff;
    vertical-align: top;
}
.left_menu .head .back i{
	cursor: pointer;
	user-select: none;
	padding: 13px;
}
.left_menu .head .back .ripl{
	background-color: #0068bf;
}
.left_menu .head label{
	user-select: none;
    display: inline-block;
    font-size: 20px;
    color: #ffffff;
    padding-top: 15px;
    padding-left: 5px;
}
.left_menu .links{
	overflow: auto;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 0;	
}
.left_menu .links a{
	user-select: none;
	cursor: pointer;
	display: block;
    position: relative;
    width: 100%;
    height: 50px;
	color: #000000;
    transition: 0.5s;
}
.left_menu .links a:hover{
	background: #eee;
}
.left_menu .links a i{
	cursor: pointer;
	user-select: none;
	position: absolute;
    font-size: 25px;
    top: 12px;
    left: 12px;
}
.left_menu .links a label{
	cursor: pointer;
	position: absolute;
    font-size: 20px;
    top: 15px;
    left: 45px;
}
.left_menu .links a .ripl {
    background: rgba(216, 216, 216, 0.7);
}
/*---------*/

.up_menu{
	width: 100%;
    height: 50px;
    position: fixed;
    display: block;
    background: #F44336;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
	z-index: 90;
}
.up_menu .menu{
	cursor: pointer;
	user-select: none;
	display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #ffffff;
	vertical-align: top;
}
.up_menu .menu .ripl{
	background-color: #d32f2f;
}
.up_menu .menu i{
	cursor: pointer;
	user-select: none;
	padding: 13px;
}
.up_menu .logo{
	user-select: none;
    display: inline-block;
    font-size: 20px;
    color: #ffffff;
	padding-top: 15px;
    padding-left: 5px;
}
.up_menu .search{
	display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0;
}

.up_menu .search .button_in_search{
	cursor: pointer;
	user-select: none;
	display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #ffffff;
	background: #f44336;
	vertical-align: top;
	margin-right:-4px;
}
.up_menu .search .button_in_search .ripl{
	background-color: #d32f2f;
}
.up_menu .search .button_in_search i{
	cursor: pointer;
	user-select: none;
	padding: 13px;
}

.up_menu .search .in_search{
	outline: 0;
    border: 0;
    width: 0px;
    height: 40px;
    padding: 8px 0px 2px 0px;
    color: #ffffff;
    font-family: Product Sans;
    font-size: 15px;
    background: #ff7961;
    transition: 0.5s;
}
.up_menu .search .in_search:focus{
	background: #b9000b;
}

/* content */
.content{
	position: relative;
    top: 50px;
    width: 90%;
    height: calc(100vh - 50px);
    margin: 0 auto;
}
.content .left{
	display: inline-block;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 30%;
    bottom: 0;
    background: #fff;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0);
    transition: 0.5s;
}

.content .left .icon_box{
	width: 100%;
    height: 60px;
    position: relative;
    background: #2195f2;
}
.content .left .icon_box .background_icon{
	user-select: none;
	display: inline-block;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
    bottom: 0;
    background: #ffffff;
}
.content .left .icon_box .background_icon i{
	user-select: none;
	color: #000000;
    padding: 18px;
}

.content .left .icon_box .info{
	display: inline-block;
    position: absolute;
    top: 0;
    left: 70px;
    right: 0;
    bottom: 0;
    text-align: left;
    vertical-align: top;
    padding-top: 20px;
    white-space: nowrap;
    overflow: hidden;
	color: #ffffff;
    text-overflow: ellipsis;
}
.content .left .colors_box{
	position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
}

.content .left .colors_box .head{
	width: 100%;
    height: 30px;
    position: relative;
	line-height: 30px;
}
.content .left .colors_box .head .one , .head .two{
	cursor: pointer;
	user-select: none;
	display: inline-block;
	position: absolute;
	text-align: center;
	top: 0;
	bottom: 0;
	color: #fff;
    background: #0068bf;
	width: 50%;
}
.content .left .colors_box .head .one{
    left: 0;
    right: 50%;
}
.content .left .colors_box .head .two{
    left: 50%;
    right: 0;
}
.content .left .colors_box .head span{
	display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    /* left: 50%; */
    width: 50%;
    height: 3px;
    background: #f44334;
    transition: 0.5s;
}

.content .left .colors_box .t_one , .t_two{
    position: absolute;
    top: 30px;
    right: 0;
    bottom: 0;
    width: 100%;
	padding: 10px 0;
    overflow: auto;
    background: #f5f5f6;
    transition: 0.5s;
}
.content .left .colors_box .t_two{
	right: -100%;
}

/* one */
.content .left .colors_box .t_one .colors{
	width: 100%;
    height: auto;
    padding: 5px 0px;
    text-align: center;	
}
.content .left .colors_box .t_one .colors a{
	display: inline-block;
    width: 80px;
    height: 80px;
    background: #000;
    user-select: none;
    cursor: pointer;
	border: 2px solid rgba(0, 0, 0, 0.5);
}
/* two */
.content .left .colors_box .t_two .colors{
	width: 100%;
    height: auto;
    padding: 5px 0px;
    text-align: center;
}
.content .left .colors_box .t_two .colors a{
	display: inline-block;
    width: 80px;
    height: 80px;
    background: #000;
    user-select: none;
    cursor: pointer;
	border: 2px solid rgba(0, 0, 0, 0.5);
}


.content .right{
	display: inline-block;
    position: absolute;
    overflow: auto;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.content .right .icons_box{
    width: 95%;
    margin: 0 auto;
    padding: 20px 0;
}

.content .right .icons_box a{
	user-select: none;
    display: inline-block;
    background: #eee;
    width: 100px;
    height: 100px;
    margin: 5px;
    margin-left: 5%;
    padding: 4px;
    border-radius: 5px;
    text-align: center;
}

.content .right .icons_box a i{
	user-select: none;
	font-size: 50px;
    padding: 25px;
    border-radius: 5px;	
}

